LAB_EDGE_URL=http://localhost:59840
SITE_EDGE_URL=http://localhost:59841

EDGE_USER=
EDGE_PASSWORD=

EDGE_DB=labdata.metrics

CAPELLA_APP_SERVICES_URL=
CAPELLA_USER=
CAPELLA_PASSWORD=

SENSOR_INTERVAL_SECONDS=5
SITE_NAME=uk
LAB_NAME=lab1